#map {
    height: 70%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
#pac-input2 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
#pac-input3 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
#directions-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    padding: 10px;
    overflow: scroll;
    height: 174px;
  }

#forecast-panel img {
    height: 50px;
    width: 50px;
}
#vehiclesRow {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 0px;
}
#directions-panel {
    display: none;
}

.jumbotron {
    background-image: url("../images/openroad.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.forecast-header {
    font-size: 2rem;
    color: blue;
}
#forecastRow1{
    margin: 20px;
}
#forecastRow2{
    margin: 20px;
}

.to-header {
    background-color: #95d680;
}

.from-header {
    background-color: #a6a6a6;
}

.card-square2 {
    background-color: #e6e6e6;
    font-weight: bold;
}

.card-square {
    background-color: #eff9eb;
}
#submit {
    margin: 0 auto;
}
.controls {
    margin-bottom: 10px;
}
#addStop {
    margin-top: 5px;
    margin-left: 1%;
    margin-bottom: 10px;
}
#tripTable {
    display:none;
}
